<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Alarm System</title>
    <link href="../vender/datatables/dataTables.bootstrap.css" rel="stylesheet" charset="utf-8" />
    <link rel="stylesheet" href="../vender/bootstrap-3.3.7/css/bootstrap.css"/>
    <link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
    <script type="text/javascript" src="../vender/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../vender/bootstrap-3.3.7/js/bootstrap.js"></script>

    <script src="../vender/sparrow/layer/layer.js"></script>
    <script src="../vender/sparrow/ajax.js"></script>
    <script src="../vender/sparrow/util.js"></script>
    <script src="../vender/sparrow/smarty.js"></script>
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/manager-cluster.css"/>

</head>
<body>

    <div class="body-contain container-color">
        <div class="header-swapper">
            <div class="title-container">
                <span>Cluster Name</span>
                <span class="state-ok detail-state-font">OK</span>
            </div>
            <div class="select-btn">
                <form class="form-horizontal" role="form">
                    <select id="basic" class="selectpicker show-tick form-control" data-live-search="true" data-width="220px">
                        <option>ssecbigdata</option>
                        <option>ssspark</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="main-swapper">
        <div class="cluster-header">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#alarmHistory" data-toggle="tab">Alarm Cases</a>
                </li>
                <li >
                    <a href="#alarmRule" data-toggle="tab">Alarm Rule</a>
                </li>
            </ul>
        </div>
        <div id="clsuterContent" class="tab-content" >
            <div class="tab-pane fade in active" id="alarm-content">
                hhh
            </div>
        </div>
    </div>
</body>
<script src="../js/alarm.js"></script>
</html>