<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache" />
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
    <meta HTTP-EQUIV="expires" CONTENT="0" />
    <meta http-equiv="Cache" content="no-cache" />

    <title>Cluster Detail</title>

    <link rel="stylesheet" href="../lib/bootstrap-3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="../lib/bootstrap-select-1.12.4/dist/css/bootstrap-select.css" />
	<link rel="stylesheet" href="../css/time-range.css" />
	<link rel="stylesheet" href="../lib/datetime/flatpickr.min.css" />
	<link rel="stylesheet" href="../css/common.css"/>
	<link rel="stylesheet" href="../css/redis-monitor-detail.css"/>
	
	<script type="text/javascript" src="../lib/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../lib/bootstrap-3.3.7/js/bootstrap.js"></script>
	<script type="text/javascript" src="../lib/layer/layer.js"></script>
	<script type="text/javascript" src="../lib/bootstrap-select-1.12.4/dist/js/bootstrap-select.js"></script>
</head>
<body>
    <div class="body-contain container-color scrollbar-div scrollbar-div-1">
        <div class="data-container scrollbar">
        	<div class="detail-header">
        		<div class="cluster-name-container">
		            <span id="clusterName">Cluster Name</span>
	            </div>
        		<div class="filter-container">
	            	<div class="select-node">
						<form class="form-horizontal" role="form">
								<div class="col-lg-10">
								<select id="basic" class="selectpicker show-tick form-control" data-live-search="true" data-width="220px">
									<option>192.168.172.456:8181</option>
									<option>192.168.172.456:8010</option>
									<option>192.168.172.456:6380</option>
									<option>192.168.172.456:6390</option>
								</select>
							</div>
						</form>
	            	</div>
	            	<div class="value-type-container">
						<select class="selectpicker" data-width="100%">
							<option>Max</option>
							<option>Min</option>
							<option>Avg</option>
						</select>
	            	</div>
	            	<div class="btn-group value-type-container">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							Command <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">cluster info</a></li>
							<li><a href="#">info</a></li>
						</ul>
					</div>
	            	<div class="time-filter-container">
		            	<a data-toggle="collapse" data-parent="#accordion" href="#time-select-panel" class="list-active">
							<img src="../img/time.svg" class="time-img"/>
	                    	<span id="selected-range">Time ranges</span>
						</a>
	            	</div>
	            </div>
        	</div>
			<!-- time selector panel -->
            <div id="time-select-panel" class="panel-collapse collapse">
            	<div class="panel time-panel">
		            <div class="item-group">
		                <div>
		                    <h2 class="time-title">Time range</h2>
		                    <span>From:</span>
		                    <div>
		                        <input type="text" id="startTime" class="time-item start-time"  data-enable-time="true" data-time_24hr="true" placeholder="star time" readonly="readonly" />
		                    </div>
		                    <span>To:</span>
		                    <div>
		                        <input type="text" id="endTime" class="time-item end-time"  data-enable-time="true" data-time_24hr="true" placeholder="end time" readonly="readonly" />
		                    </div>
		                    <div>
		                        <button class="btn btn-primary btn-sm query" type="button" >Query</button>
		                    </div>
		                </div>
		            </div>
		            <div class="time-range">
		            	<div>
		            		<div><h2>Quick ranges</h2></div>
			                <div class="relative-section">
			                    <ul>
			                        <li data="5"><a href="javascript:void(0);">Last 5 minutes</a></li>
			                        <li data="10"><a href="javascript:void(0);">Last 10 minutes</a></li>
			                        <li data="30"><a href="javascript:void(0);">Last 30 minutes</a></li>
			                        <li data="60"><a href="javascript:void(0);">Last 60 minutes</a></li>
			                        <li data="720"><a href="javascript:void(0);">Last 12 hours</a></li>
			                    </ul>
			                    <ul>
			                        <li data="1440"><a href="javascript:void(0);">Last 1 day</a></li>
			                        <li data="4320"><a href="javascript:void(0);">Last 3 days</a></li>
			                        <li data="10080"><a href="javascript:void(0);">Last 7 days</a></li>
			                    </ul>
			                </div>
		            	</div>
		                
		            </div>
		        </div>
            </div>
            <div class="detail-container">
            	<div class="base-info">
            		<div class="base-info-title">
            			<span>Cluster Know Node:</span>
        				<span class="info-color"><b>120</b></span>
        				<span>|</span>
        				<span>Cluster Master:</span>
        				<span class="info-color"><b>40</b></span>
        				<span>|</span>
        				<span>Cluster Slave:</span>
        				<span class="info-color"><b>80</b></span>
            		</div>
            		<div class="base-info-list">
            			<ul>
            				<li>
            					<div>
            						<div class="info-title-container">
            							<i class="material-icons">hourglass_empty</i>
            							<span class="one-base-info-title">
            								<b>
            									<span>AvgResponse&nbsp;:&nbsp;</span>
            									<span>2/ms</span>
            								</b>
            							</span>
            						</div>
            						<div class="top-item">
            							<span>Top 1:</span>
            							<span>[
            								<a>000.000.000.000:8888</a>
            							]</span>
            							<span>200ms</span>
            						</div>
            						<div class="top-item">
            							<span>Top 2:</span>
            							<span>[
            								<a>000.000.000.000:8888</a>
            							]</span>
            							<span>200ms</span>
            						</div>
            						<div class="top-item">
            							<span>Top 3:</span>
            							<span>[
            								<a>000.000.000.000:8888</a>
            							]</span>
            							<span>200ms</span>
            						</div>
            					</div>
            				
            				</li>
            				<li>
            					<div>
            						<div class="info-title-container">
            							<i class="material-icons">storage</i>
            							<span class="one-base-info-title">
            								<b>
            									<span>AllKeys&nbsp;:&nbsp;</span>
            									<span>648915</span>
            								</b>
            							</span>
            						</div>
            						<div class="top-item">
            							<span>Top 1:</span>
            							<span>[
            								<a>000.000.000.000:8888</a>
            							]</span>
            							<span>416541</span>
            						</div>
            						<div class="top-item">
            							<span>Top 2:</span>
            							<span>[
            								<a>000.000.000.000:8888</a>
            							]</span>
            							<span>416541</span>
            						</div>
            						<div class="top-item">
            							<span>Top 3:</span>
            							<span>[
            								<a>000.000.000.000:8888</a>
            							]</span>
            							<span>416541</span>
            						</div>
            					</div>
            				
            				</li>
            				<li>
            					<div>
            						<div class="info-title-container">
            							<i class="material-icons">cast_connected</i>
            							<span class="one-base-info-title">
            								<b>
            									<span>AvgConnection&nbsp;:&nbsp;</span>
            									<span>1176</span>
            								</b>
            							</span>
            						</div>
            						<div class="top-item">
            							<span>Top 1:</span>
            							<span>[
            								<a>000.000.000.000:8888</a>
            							]</span>
            							<span>1122</span>
            						</div>
            						<div class="top-item">
            							<span>Top 2:</span>
            							<span>[
            								<a>000.000.000.000:8888</a>
            							]</span>
            							<span>2221</span>
            						</div>
            						<div class="top-item">
            							<span>Top 3:</span>
            							<span>[
            								<a>000.000.000.000:8888</a>
            							]</span>
            							<span>1045</span>
            						</div>
            					</div>
            				</li>
            				<li>
            					<div>
            						<div class="info-title-container">
            							<i class="material-icons">visibility</i>
            							<span class="one-base-info-title">
            								<b>
            									<span>AvgResponse&nbsp;:&nbsp;</span>
            									<span>2/ms</span>
            								</b>
            							</span>
            						</div>
            						<div class="top-item">
            							<span>Top 1:</span>
            							<span>[
            								<a>000.000.000.000:8888</a>
            							]</span>
            							<span>200ms</span>
            						</div>
            						<div class="top-item">
            							<span>Top 2:</span>
            							<span>[
            								<a>000.000.000.000:8888</a>
            							]</span>
            							<span>200ms</span>
            						</div>
            						<div class="top-item">
            							<span>Top 3:</span>
            							<span>[
            								<a>000.000.000.000:8888</a>
            							]</span>
            							<span>200ms</span>
            						</div>
            					</div>
            				
            				</li>
            			</ul>
            		</div>
            	</div>
            	
            	<div class="echarts" style="">
            		<div id="infoEchart" class="info-echarts">
            			
            		</div>
            	</div>
            	
            	<div class="table-responsive detail-info">
            		<table class="table table-striped text-nowrap table-bordered table-hover table-condensed executions-table list-table detail-table">
                        <thead>
	                        <tr>
	                            <th>Date</th>
	                            <th>Response Time</th>
	                            <th>Used CPU</th>
	                            <th>Connected Clients</th>
	                            <th>Used Memory(M)</th>
	                            <th>Used Memory RSS</th>
	                            <th>Used Memory</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                            <th>Blocked Clients</th>
	                        </tr>
                        </thead>
                        <tbody>
	                        <!--<tr>
	                            <td colspan="4">No Redis Cluster</td>
	                        </tr>-->
                        	<tr>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
                        	<tr>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
                        	<tr>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
                        	
                        </tbody>
                    </table>
            	</div>
            	
            	<div class="show-log-container">
            		<div>
            			<a class="show-log">
	                        <span>Show Log&gt;&gt;</span>
	                    </a>
            		</div>
            		<div class="progress log-progress-bar" style="display: none;">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 00%;">
							<span class="sr-only">00</span>
						</div>
					</div>
            	</div>
            	
            	<div class="table-responsive">
            		<table class="table table-striped text-nowrap table-bordered table-hover table-condensed executions-table list-table">
                        <thead>
	                        <tr>
	                            <th>Host</th>
	                            <th>Date</th>
	                            <th>Runtime</th>
	                            <th>Type</th>
	                            <th>Command</th>
	                        </tr>
                        </thead>
                        <tbody>
	                        <!--<tr>
	                            <td colspan="4">No Redis Cluster</td>
	                        </tr>-->
							<tr>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
                        </tbody>
                    </table>
            	</div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../lib/datetime/flatpickr.min.js"></script>
    <script type="text/javascript" src="../js/redis-monitor-detail.js"></script>
</body>
</html>