<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache" />
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
    <meta HTTP-EQUIV="expires" CONTENT="0" />
    <meta http-equiv="Cache" content="no-cache" />
    <title>Base</title>
    <link rel="stylesheet"  type="text/css"  href="../../tools/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet"  type="text/css"  href="../../base/css/index.css" />
    <script  src="../../tools/jquery-1.9.1.js" ></script>
    <script  src="../../tools/newegg/newegg.js" ></script>
    <script  src="../../tools/bootstrap/js/bootstrap.js" ></script>
    <script>
        $(document).ready(function(){

          $("#portal_btn").click(function(){
                $("#sign_switch").hide();
                $("#portal_sign").fadeIn();
                $("#portal_back").fadeIn();
          });

          $("#portal_back").click(function(){
                $("#portal_sign").hide();
                $("#portal_back").hide();
                $("#sign_switch").fadeIn();
          });

          getAppName();

        })

        function getAppName(){
             $.njx(
                 basePath + "/base/getAppName",
                  null,
                  true,
                 "GET",
                 "JSON",
                 "application/json",
                  function(data){
                      if(data.result!=null){
                         $("#appName").html(data.result);
                      }
                  },
                  function(){
                        alert("error!");
                  }
             );
        }

        function login(){
            var name = $("#name").val();
            var password = $("#password").val();
            var user = '{"name":"'+name+'","password":"'+password+'"}';
            $.njx(
                 basePath + "/rest/user/login",
                  user,
                  true,
                 "POST",
                 "JSON",
                 "application/json",
                  function(data){
                       document.location = basePath + "/rest/pages/main";
                  },
                  function(){
                        alert("error!");
                  }
            );
        };

        function domainLogin(){
           $.getJSON('http://10.1.54.112/hiverlogin/default.aspx?callback=?', function(data) {
                      var params={};
                      params.nameStr = data.name;
                      console.log(params);
                      $.njx(
                         basePath + "/rest/user/domainLogin",
                          params,
                          true,
                         "GET",
                         "JSON",
                         "application/json",
                          function(data){
                               document.location = basePath + "/rest/pages/main";
                          },
                          function(){
                                alert("error!");
                          }
                    );
           });
        };

        function goToAbout(){
             window.location = basePath + "/rest/pages/about";
        };
    </script>
</head>
<body>
    <div class="content-div">
        <div class="headDiv">
            <div class="head-leftBlock">
                <div class="head-home-button">
                    <span id="expandTitle">Newegg * </span><span id="appName"></span>
                </div>
            </div>
            <div class="head-rightBlock" onclick="goToAbout()">
                <div class="head-ordinary-button"><font>about</font></div>
            </div>
        </div>

        <div class="login-box">
             <div class="login-box-title">
                 Sign in &nbsp;<span id="portal_back" class="glyphicon glyphicon-circle-arrow-left" style="cursor:pointer;display:none"></span>
             </div>
             <div class="divide-line"></div>
             <div id="sign_switch">
                 <div id="ad_btn" onclick="domainLogin()">
                     Continue With AD Account
                 </div>
                 <div class="divide-row">or</div>
                 <div id="portal_btn">
                     Continue With Portal Account
                 </div>
             </div>
             <div id="portal_sign">
                 <div class="login-input-box">
                     <div class="user-title"><span class="glyphicon glyphicon-user"></span>&nbsp;user:</div>
                     <div class="user-input-cnt"><input id="name" type="text" class="login-input" value="root" /></div>
                     <div class="password-title"><span class="glyphicon glyphicon-lock"></span>&nbsp;password:</div>
                     <div class="password-input-cnt"><input id="password" type="password" class="login-input" value="123456" /></div>
                     <div class="login-button-cnt">
                         <button type="submit" class="submit-button" onclick="login()">login</button>
                     </div>
                 </div>
             </div>
            <div class="divide-line"></div>
        </div>

    </div>
</body>
</html>