<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache" />
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
    <meta HTTP-EQUIV="expires" CONTENT="0" />
    <meta http-equiv="Cache" content="no-cache" />
    <title>Base</title>
    <link rel="stylesheet"  type="text/css"  href="../../tools/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet"  type="text/css"  href="../../base/css/menu.css"/>
    <link rel="stylesheet"  type="text/css"  href="../../base/css/main.css"/>
    <script  src="../../tools/jquery-1.9.1.js" ></script>
    <script  src="../../tools/newegg/newegg.js" ></script>
    <script  src="../../base/menu.js" ></script>
    <script  src="../../tools/bootstrap/js/bootstrap.js" ></script>
    <script>
        function getUser(){
            $.njx(
                 basePath + "/rest/user/getUser",
                  null,
                  true,
                 "GET",
                 "JSON",
                 "application/json",
                  function(data){
                      if(data.result!=null){
                          $("#username").html(data.result.name);
                      }
                  },
                  function(){
                        alert("error!");
                  }
            );
         };

         function setUser(name){
              $("#username").html(name);
         }

         function getMenus(){
             $.njx(
                 basePath + "/rest/menu/getMenus",
                  null,
                  true,
                 "GET",
                 "JSON",
                 "application/json",
                  function(data){
                      if(data.result!=null){
                          menu = transferMenuData(data.result);
                          buildMenu(menu);
                      }
                  },
                  function(){
                        alert("error!");
                  }
             );
         }

        function getAppName(){
             $.njx(
                 basePath + "/base/getAppName",
                  null,
                  true,
                 "GET",
                 "JSON",
                 "application/json",
                  function(data){
                      if(data.result!=null){
                         $("#appName").html(data.result);
                      }
                  },
                  function(){
                        alert("error!");
                  }
             );
        }

        $(document).ready(function(){
            getAppName();
            getUser();
            getMenus();
            initMenu();
            home();
        });

        function profile(){
             $("#frameBody").attr("src",basePath+'/rest/pages/profile');
        };

        function logout(){
              location.href = basePath + '/rest/user/logout';
        };


    </script>
</head>
<body>

   <div class="bodyDiv">
       <div id="menuBlock">
           <div class="main-head-left-block">
               <div id="home" class="homeBtn" onClick="home()">
                   <span id="expandTitle">Newegg * </span><span id="appName"></span>
               </div>
           </div>
           <div id="menuCnt">

           </div>
       </div>
       <div id="contentBlock">
           <div class="content-head">

               <div id="menu_switch" class="menu_switch">
                   <span class="glyphicon glyphicon-align-justify"></span>
               </div>

               <div id="userBtn" tabindex="3">
                   <div class="button-div"><span class="glyphicon glyphicon-user"></span>&nbsp;<font style="" id="username"></font>&nbsp;<b class="caret"></b></div>
                   <div id="userPad">
                       <div class="user-title-div">
                           user
                       </div>
                       <div class="divide-line"></div>
                       <div>
                           <div class="userItem" onclick="profile()">
                               <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> profile</span>
                           </div>
                           <div class="userItem" onclick="logout()">
                               <span class="glyphicon glyphicon-log-out"></span>&nbsp;<span> logout</span>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="breadcrumb-cnt">
               <ol class="breadcrumb" id="hrefUl">
                   <li ><a class="breadcrumb-item" href="javascript:home()">home</a></li>
               </ol>
               <div class="divide-line"></div>
           </div>
           <div id="content">
               <iframe id="frameBody" src="">

               </iframe>
           </div>
           <div class="main-foot">
               <strong>Copyright © 2016-2017 <a href="http://www.newegg.com">Newegg Inc</a>.</strong> All rights reserved.
           </div>
        </div>
   </div>

</body>
</html>