<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache" />
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
    <meta HTTP-EQUIV="expires" CONTENT="0" />
    <meta http-equiv="Cache" content="no-cache" />
    <title>Base</title>
    <style type="text/css">
        html,body{
        height:100%;
        }
    </style>
    <link rel="stylesheet"  type="text/css"  href="../../tools/bootstrap/css/bootstrap.css"/>
    <script  src="../../tools/jquery-1.9.1.js" ></script>
    <script  src="../../tools/newegg/newegg.js" ></script>
    <script  src="../../tools/bootstrap/js/bootstrap.js" ></script>
    <script>
         function jumpToLogin(){
            window.parent.location = basePath + "/rest/pages/index";
         }

         $(document).ready(function(){
              if( $('#frameBody',parent.document).length==0){
                    window.parent.location=basePath + "/rest/pages/index";
              }
         });

    </script>
</head>
<body>
   <div style="width:100%;height:50px;line-height:50px;text-align:center">
   login timeout! &nbsp;&nbsp;&nbsp; <a href="javascript:jumpToLogin()">please login</a>
   </div>
</body>
</html>