<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Create Cluster</title>
		<link rel="stylesheet" href="../css/common.css"/>
	</head>
	<body>
		<div class="body-contain container-color">
			<div class="header-swapper">
        		<div class="title-container">
		            <span>Create Cluster</span>
	            </div>
	        </div>
	        <div style="display: flex; justify-content: space-between;">
	        	 <div style="background-color: #333; height: 300px; width: 50%; margin: 10px; font-size: 32px; color: #FFFFFF;">
		        	<p>这里是创建步骤</p>
		       </div>
		        <div style="background-color: #333; height: 300px; width: 50%; margin: 10px; font-size: 32px; color: #FFFFFF;">
		        	<p>这里是linux 页面</p>
		       </div>
	        </div>
       </div>
	</body>
</html>
