<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache" />
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
    <meta HTTP-EQUIV="expires" CONTENT="0" />
    <meta http-equiv="Cache" content="no-cache" />
    <title>System Config</title>
    <style type="text/css">
        html,body{padding:0px;margin:0px;height:100%;width:100%}
    </style>
    <link rel="stylesheet"  type="text/css"  href="../../tools/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet"  type="text/css"  href="../../tools/bootstrap-multiselect/bootstrap-multiselect.css"/>
    <link rel="stylesheet"  type="text/css"  href="../../tools/alertjs/alert.css"/>
    <link rel="stylesheet"  type="text/css" charset="utf-8"  href="../../app/css/conf.css"/>
    <script  src="../../tools/jquery-1.9.1.js" ></script>
    <script  src="../../tools/newegg/newegg.js" ></script>
    <script  src="../../tools/bootstrap/js/bootstrap.js" ></script>
    <script  src="../../tools/bootstrap-multiselect/bootstrap-multiselect.js" ></script>
    <script  src="../../tools/common.js" ></script>
    <script  src="../../tools/layer/layer.js" ></script>
    <script  src="../../tools/alertjs/alert.js" ></script>
    <script  src="../../app/systemconfig.js" ></script>

</head>
<body>
    <div id="machineInfo" style="background:#f9f9f9;width:100%;height:100%;position:relative;overflow-y:auto">

        <!-- title-->
        <div style="margin-top:10px;height:40px;line-height:40px;font-size:20px;text-align:left;padding-left:20px;padding-right:20px;color:#004d6f">
            <div style="width:200px;height:40px;float:left;font-weight:bold">system config</div>
        </div>

        <div style="padding:10px;padding-top:0px;position:relative;width:100%">
            <div style="float:left;width:220px;padding:8px">
                <div  style="width:200px" class="treeview">
                    <ul class="list-group">
                        <li class="list-group-item node-treeDemo node-selected" data="1" style="font-size:13px;font-weight:bold;cursor:pointer" >MachineConf</li>
                        <li class="list-group-item node-treeDemo"  data="2" style="font-size:13px;font-weight:bold;cursor:pointer" >RedisConf</li>
                        <li class="list-group-item node-treeDemo"  data="3" style="font-size:13px;font-weight:bold;cursor:pointer" >SystemConf</li>
                        <li class="list-group-item node-treeDemo"  data="4" style="font-size:13px;font-weight:bold;cursor:pointer" >UserConf</li>
                        <li class="list-group-item node-treeDemo"  data="5" style="font-size:13px;font-weight:bold;cursor:pointer" >OtherConf</li>
                    </ul>
                </div>
            </div>

            <!-- body-->
            <div style="position:absolute;left:240px;top:10px;right:10px;bottom:0px">
                <div style="background:white;padding:5px;padding-top:0px;margin:20px;margin-right:10px;margin-top:0px;position:relative;box-shadow:0px 0px 1px 1px #ccc;">
                    <div id="tableCnt" class="tableCnt">
                        <div class="tableHead" style="position:relative;height:30px;line-height:30px;padding-left:5px;">
                            <div style="position:absolute;left:5px;top:0px;margin-top:10px;font-size:12px;font-weight:bold;">
                                Config Update
                            </div>
                            <button class="btn btn-default btn-sm" onclick="AddConfig()" type="button" style="position:absolute;right:0px;top:0px;margin-top:10px;">
                                <span class="glyphicon glyphicon-plus-sign" style="color:#337ab7;"></span> <span style="text-size:18px">Add Config</span>
                            </button>
                        </div>

                        <table id="configTable" style="margin-top:20px;" class="table table-striped table-bordered table-hover table-condensed executions-table">
                            <thead>
                            <tr>
                                <th width="5%">#</th>
                                <th width="20%">Config Key</th>
                                <th width="20%">Config Value</th>
                                <th width="35%">Config Desc</th>
                                <th width="20%">Operate</th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td colspan="50" style="text-align:center">There Is No Config</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            SysConfig
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="input-group" style="margin:auto">
                            <span class="input-group-addon" style="width:135px">Config Key</span>
                            <input id="conf_key" type="text" class="form-control" placeholder="config key" style="width:300px" />
                        </div>
                        <div class="input-group" style="margin:auto;margin-top:3px">
                            <span class="input-group-addon" style="width:135px">Conf Value</span>
                            <input id="conf_value" type="text" class="form-control" placeholder="conf value" style="width:300px" />
                        </div>
                        <div class="input-group" style="margin:auto;margin-top:3px">
                            <span class="input-group-addon" style="width:135px">Conf Desc</span>
                            <input id="conf_info" type="text" class="form-control" placeholder="conf desc" style="width:300px" />
                        </div>
                        <div class="input-group" style="margin:auto;margin-top:3px">
                            <span class="input-group-addon" style="width:135px">Config Type</span>
                            <select id="conf_type" class="form-control" style="width:300px">
                                <option value="1" style="font-weight:bold;">Machine_Conf</option>
                                <option value="2" style="font-weight:bold;">Redis_Conf</option>
                                <option value="3" style="font-weight:bold;">System_Conf</option>
                                <option value="4" style="font-weight:bold;">User_Conf</option>
                                <option value="5" style="font-weight:bold;">Other</option>
                            </select>
                        </div>
                       </div>

                    <div class="modal-footer">
                        <button id="closeEdit" type="button" class="btn btn-default" data-dismiss="modal">close</button>
                        <button id="savebtn" type="button" class="btn btn-primary" onclick="SaveConfig()">
                            save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>